const path = require('path');

module.exports = {
  // Punto de entrada de la aplicación
  entry: './src/index.js',
  // Configuración de salida: el archivo resultante y su ubicación
  output: {
    filename: 'bundle.js',
    path: path.resolve(__dirname, 'dist'),
  },
  // Modo de compilación: 'development' para desarrollo o 'production' para producción
  mode: 'development',
};
